body {
  background: #c0bebe;
}

canvas {
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  margin: 50px auto;
}

canvas:focus {
  outline: none;
}

.room {
    margin-top: 30px;
    text-align: center;
}
